# 1
# 1/01-Stu_Lighthouse
# 1/02-Stu_Minify-JS
# 1/03-Stu_Enable-Compression
# 1/04-Stu_Image-Compression
# 1/05-Stu_Gallery-Lazy-Load
# 1/05-Stu_Gallery-Lazy-Load/Solved
# 1/05-Stu_Gallery-Lazy-Load/Unsolved
# 1/06-Stu_Gallery-Optimize
# 1/06-Stu_Gallery-Optimize/Solved
# 1/06-Stu_Gallery-Optimize/Unsolved
# 2
# 2/07-Stu_PWAs
# 2/08-Ins_Manifest
# 2/09-Stu_Manifest
# 2/09-Stu_Manifest/Solved
# 2/09-Stu_Manifest/Unsolved
# 2/10-Ins_Service_Workers
# 2/10-Ins_Service_Workers/models
# 2/10-Ins_Service_Workers/public
# 2/10-Ins_Service_Workers/routes
# 2/10-Ins_Service_Workers/seeders
# 2/11-Stu_Service_Workers
# 2/11-Stu_Service_Workers/Solved
# 2/11-Stu_Service_Workers/Unsolved
# 2/12-Ins_Caching_Fetching_Files
# 2/12-Ins_Caching_Fetching_Files/models
# 2/12-Ins_Caching_Fetching_Files/public
# 2/12-Ins_Caching_Fetching_Files/routes
# 2/12-Ins_Caching_Fetching_Files/seeders
# 2/13-Stu_Caching_Fetching_Files
# 2/13-Stu_Caching_Fetching_Files/Images
# 2/13-Stu_Caching_Fetching_Files/Solved
# 2/13-Stu_Caching_Fetching_Files/Unsolved
# 2/14-Stu_Map-PWA
# 2/14-Stu_Map-PWA/Solved
# 2/14-Stu_Map-PWA/Unsolved
# 3
# 3/15-Ins-Webpack-Intro
# 3/15-Ins-Webpack-Intro/src
# 3/16-Stu-Webpack-Intro
# 3/16-Stu-Webpack-Intro/Solved
# 3/16-Stu-Webpack-Intro/Unsolved
# 3/17-Ins-First-Plugin
# 3/17-Ins-First-Plugin/src
# 3/18-Stu-Webpack-Plugin
# 3/18-Stu-Webpack-Plugin/Solved
# 3/18-Stu-Webpack-Plugin/Unsolved
# 3/19-Ins-Pure-Functions
# 3/19-Ins-Pure-Functions/src
# 3/20-Stu-PWA-refactor
# 3/20-Stu-PWA-refactor/Solved
# 3/20-Stu-PWA-refactor/Unsolved
# 3/21-Ins-Chunking
# 3/21-Ins-Chunking/src
# 3/22-Stu-Chunking
# 3/22-Stu-Chunking/Solved
# 3/22-Stu-Chunking/Unsolved
# 3/23-Stu-Mini-Project
# 3/23-Stu-Mini-Project/Solved
# 3/23-Stu-Mini-Project/Unsolved
